<span>
        <!--  ----------------   Header    ----------------  -->
    <div class="header">
        <div class="h_icon"><img src="../images/settings_icon.png" width="42" height="42" /></div>
        <div class="title">SETTINGS</div>
        <div class="main_action"><a href="../openi_settings.html">DONE</a></div>
    </div>
    <!--  --------------   end- Header    ------------  -->

    <!--  ----------------   TOP    ----------------  -->
    <div class="top">
        <div class="sub_title_b"><img src="../images/arrow.png" width="30" height="30" border="0" align="absmiddle" /> OPENi</div>
    </div>
    <!--  -------------   end - TOP    ------------  -->

    <!--  ----------------   cont_main    ----------------  -->
    <div class="cont_main">
        <div class="rv_title">My online wallet accounts</div>
        <!--<div class="rv_check">-->
        <!--<input type="checkbox" name="checkboxG1" id="checkboxG1" class="css-checkbox" />-->
        <!--<label for="checkboxG1" class="css-label"></label>-->
        <!--</div>-->
        <div class="rv_cont">
            <div class="rv_text">Let apps use my online wallet accounts.</div>
            <div class="rv_text pad_T15">Assign the following alterations to:</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--  ----------------   end - cont_main    ----------------  -->

    <!--  ----------------   buttons    ----------------  -->
    <div class="action_ca" align="center" style="margin-bottom: 20px"><a href="#"><img src="../images/current_app_tab.png" width="291" height="47" border="0" /></a></div>
    <!--  --------------   end- buttons    ------------  -->

        <div class="acc_b">
            <div class="acc_title_d">
                <img src="../images/reviews.png" width="29" height="41" align="absmiddle" />
                &nbsp;
                Service
            </div>
            <div class="ac_check">
                <input type="checkbox" ng-model="globals.settings.product_and_services.types[0].isOptedIn">
            </div>
        </div><div class="clearfix"></div>

            <div class="acc_b">
                <div class="acc_title_d">
                    <img src="../images/reviews.png" width="29" height="41" align="absmiddle" />
                    &nbsp;
                    Product
                </div>
                <div class="ac_check">
                    <input type="checkbox" ng-model="globals.settings.product_and_services.types[1].isOptedIn">
                </div>
            </div><div class="clearfix"></div>

    <!--  ----------------   FOOTER    ----------------  -->
    <div class="footer">
        <div class="f_link01"><a href="#">HOME</a></div>
        <div class="f_link02"><a href="#">SIGN OUT</a></div>
    </div>
    <!--  --------------   end- FOOTER    ------------  -->
</span>